rules_version = '2';
service firebase.storage {

  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if
          request.time < timestamp.date(2022, 11, 21);
    }
  }


  match /b/{bucket}/o {
    match /HGKG/{allYears=**} { // first user 
    	allow read, write: if request.auth.uid == 'lm15VGtzfsMpsizta16zj9IAaFu1';      
    
      allow read: if
          request.time < timestamp.date(2022, 12, 12);
    }
  }
}
