rules_version = '2';
service firebase.storage {

  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if
          request.time < timestamp.date(2022, 11, 21);
    }
  }


  match /b/{bucket}/o {
    match /{allPaths=**} {
    	allow read,write: if true;
    }
    match /HGKG/{allYears=*} {
    	allow read, write: if request.auth.uid == '00b4903a97a9f13d1883090e9064b06638c68dee952229b689c0d1d95e3e4c5d';      
    }
  }
}