body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: Bahnschrift, monospace, sans-serif; }

.mScreen   { font-family: Bahnschrift,monospace;                             height: 18px;      display:table;   page-break-after: always; break-after: always  }
.dosBorder{  padding: 14px; border-style: none; border-radius: 10px; border-width: 2px; border-color: #AEADAE;  background-color: #FFF; color: #0F0F0F; }
.witBorder{  padding: 14px; border-style: none; border-radius: 10px; border-width: 2px; border-color: #FEFEFE;  background-color: #FFF; color: #0F0F0F; }

.mTable   { font-family: Bahnschrift,monospace;                             height: 18px;      display:table;  }


.console  { color:#0F0F8F; background-color:inherit; font-family :Courier; font-size: 8px; }
.coinSlider { width:75em; background:#f4d4d4;}

input  { color:#0F0F0F; background-color:inherit; font-family :Bahnschrift; font-size: 10px;  width:80px;}
input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  font-family:inherit; font-size: 10px; font-weight:400; text-align: center;
  background-color: inherit;
  margin: 0;
}
input[type="radio"]::before {content: "#"; }


.attrRow  {                       width:79rem; padding: 1px; float: left;  min-height: 16px; height: 18px; font-family :inherit; font-size: 11px; font-weight:400; text-align: center;}
.attrLine { vertical-align: top;  width:79rem; padding: 1px; float: left;  min-height: 16px; height: 18px; font-family :inherit; font-size: 11px; font-weight:400; text-align: center;}
.attrLine:nth-child(even) { background: #f0f0f0;  padding: 0px; border: 1px dotted gray;}
.footer {                         width:79rem; padding: 1px; float: left;  min-height: 32px; height: 17px; font-family :inherit; font-size: 11px; font-weight:400; text-align: center;}


.key      {  padding: 0px; height:18px;  margin: 0px; border-color: rgb(167, 152, 152); border-style: solid; float: left; background-color:transparent; font-family:  inherit; font-size: inherit; font-weight:600; color: #000; }
.box      {  height:40px;  margin: 0px; border-color: gray;               border-style: solid; float: left; background-color:transparent; font-family:  inherit; font-size: inherit; font-weight:600; color: #000; }

.SWITCH  {                   padding: 1px; border: none; font-size: 12px; font-weight:400;  } 
.BIGCELL {                   padding: 1px;               float: left; color:inherit;min-height: 48px; font-family: inherit; font-size: 11px; font-weight:400; text-align: center; background-color: inherit; } 
.FIELD    { overflow:hidden; padding: 1px; border: none; float: left;                                 font-family: inherit; font-size: inherit; font-weight:inherit; color: inherit;} 

.PAGE     {  break-before: always;  page-break-before: always; display: block; } 

.SEP      { width: 0.8rem; text-align: center;  }		
.TRASH    { width: 1rem; text-align: center; font-size:21px; height:17px; vertical-align: top;}		
.TAG      { width: 1.8rem; text-align: left;  }		
.SYMB     { width: 3rem;  text-align: left; }		
.LABL     { width: 4rem;  text-align: center; }		
.MOAM     { width:5.2rem; text-align: right; font-family:monospace; }
.TEAM     { width:5.3rem; text-align: right; }
.SNAM     { width:5.8rem; text-align: left; }		
.C100     { width: 6rem; }
.R105     { width: 6rem; text-align: right; }
.TENY     { width: 7rem;  text-align: right; }
.MONY     { width: 7rem; text-align: right; font-family:monospace; }
.NAME     { width: 7rem; text-align: left;  }
.CNAM     { width: 7rem; text-align: center;  }
.CNAMF    { width:7.3rem; text-align: center;  }
.IDNT     { width: 8rem; text-align: right; }
.LNAM     { width: 9rem; text-align: left;}
.XFER     { width: 9rem; text-align: left;  }
.L280     { width:12rem; text-align: left;} 
.LTXT     { width:14rem; text-align: left;}
.FLEX     { width:49rem; text-align: left;} 


#wrapper {position: relative;  margin: auto; }
#meter { width: 100%; height: 100%;  transform: rotateX(180deg); }
.circle {fill: none; }
.outline, #mask {stroke: #F1F1F1;  stroke-width: 65; }
.range {stroke-width: 60; }
#slider, #lbl {position: absolute; }
#slider { cursor: pointer;  left: 0;  margin: auto;  right: 0;  top: 58%;  width: 94%; }
#lbl {  background-color: #4B4C51; border-radius: 2px; color: white; font-family: 'courier new'; font-size: 15pt; font-weight: bold; padding: 4px 4px 2px 4px; right: -48px; top: 57%; }
#meter_needle { height: 40%; left: 0; margin: auto; position: absolute; right: 0; top: 10%;  transform-origin: bottom center;  /*orientation fix*/  transform: rotate(270deg); }
.caption {color:#223377;}